 html, body{
   scroll-behavior: smooth;
   font-family:'Barlow Semi Condensed',sans-serif;
  margin: 0;
  height: 100%;

}
.navigationbar ul {
list-style: none;
margin-top: -50px;
text-align: center;
}

.menuitem ul li{

  display: inline-grid;
  padding: 15px;

}
.navigationbar ul li a{
  text-decoration: none;
margin-left: 40px;
color: white;


}
.navigationbar a:hover{
  color: red;
}
.top{
  display: inline-grid;
align-items: center;
grid-template-columns: auto auto;
grid-column-gap: 300px;
padding: 10px;
background: #09071C;
color: white;
width: 100%;
height: 100%;
}


.logo img{
  height: 60px;
padding: 10px;
}
.navigationbar{
background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/catarpilar.jpeg");
background-size: cover;
background-repeat: no-repeat;
min-height: 300px;
color: white;
}
.navigationbar p{
margin-top: -80px;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
button{
  background:#CE9510;
  height: 40px;
  width: 150px;
  color: white;
  border: 2px solid #CE9510;
  font-size: 15px;

}
.menuitem{
  padding-bottom: 50px;
}
#home{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 20px;
  text-align: center;

}
#home h1{
  margin-bottom:-80px;
}
h3{
  font-size: 30px;
}
intro-3{
  height: -20px;
}
#OurSkills{
  background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("..//images/mtn.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  color: white;
text-align: center;
}
#OurSkills  h2,p{
padding-top: 100px;
}
#OurSkills p{
  font-size: 20px;
  margin-top: -80px;
}
#OurWorks{
  text-align: center;
}
#OurWorks p{
  margin-top: -80px;
  font-size: 20px;
}
#OurWorks{
  background-color: #f9f9ff;

}
#footer{
text-align: center;
}
#footer h4,p{
  padding-top: 50px;
}
